Begining_EJB_GF4-war/src/conf/xml-resources/web-service-references/CardValidator453/wsdl/localhost_8080/CardValidatorWS453/CardValidator453.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.soap.ejb.gf4.begining/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soap.ejb.gf4.begining/">

<xs:element name="creditCard453" type="tns:creditCard453"/>

<xs:element name="validate" type="tns:validate"/>

<xs:element name="validateResponse" type="tns:validateResponse"/>

<xs:complexType name="validate">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard453" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard453">
<xs:sequence>
<xs:element name="controlNumber" type="xs:int" minOccurs="0"/>
<xs:element name="expiryDate" type="xs:string" minOccurs="0"/>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>